.flex-container {
    display: flex;
    flex-wrap: wrap;

}



.flex-container>div {
    width: 300px;
    height: 100%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}




.content {
    background-color: #13181b
}

.sidebar-nav *
{
    font-size: 16px;
}

.container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.image {
    display: block;
    width: 100%;
    height: 200px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
}

.container:hover .overlay {
    opacity: 1;
}




.icon {
    text-decoration: none;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 10%;
    left: 18%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}




#logo
{
    font-size: 40px;
    color: #bd081c;
}

.nav-item dropdown *
{
    color:#333 !important;
}



@font-face{font-family:'Calluna';
    src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/callunasansregular-webfont.woff') format('woff');
}
body {
    font-family: Calluna, Arial, sans-serif;
    min-height: 1000px;
}
#columns {
    column-width: 320px;
    column-gap: 10px;
    width: 90%;
    max-width: 1300px;
    margin: 25px auto;
}

div#columns figure {
    background: #fefefe;
    margin: 0 2px 15px;
    padding: 15px;
    padding-bottom: 10px;
    transition: opacity .4s ease-in-out;
    display: inline-block;
}

div#columns figure img {
    width: 100%; height: auto;
    border-radius: 5px;
    margin-bottom: 5px;
}

div#columns figure figcaption {
    font-size: .9rem;
    color: #444;
    line-height: 1.5;
}

div#columns small {
    font-size: 1rem;
    float: right;
    text-transform: uppercase;
    color: #aaa;
}

div#columns small a {
    color: #666;
    text-decoration: none;
    transition: .4s color;
}

div#columns:hover figure:not(:hover) {
    opacity: 0.4;
}

@media screen and (max-width: 750px) {
    #columns { column-gap: 0px; }
    #columns figure { width: 100%; }
}
